* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */
.header {
    text-align: center;
}

h1 {
    padding: 30px 30px;
    color: rgb(247, 247, 247);
    background-color: rgb(33, 33, 33);
}

.navbar {
    padding: 10px 0px;
    background-color: rgb(228, 228, 228);
}

.navbar li {
    display: inline;
    margin: 0px 10px;
}

.navbar a {
    color: rgb(25, 25, 25);
    font-style: normal;
    padding: 5px
}
/* Header */