* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.site-name-mention {
    color: rgb(255, 196, 0);
    font-weight: bolder;
}

/* Header */
.header {
    text-align: center;
    display: unset;
}

.site-name,
.period {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
}

.site-name {
    padding: 30px 30px;
    background-color: rgb(11, 11, 11);
}
    .site-name a {
        color: rgb(247, 247, 247);
        text-decoration: none;
    }

.period {
    color: rgb(255, 196, 0);
    display: inline;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 10px 0px;
    background-color: rgb(255, 196, 0);
}
    .navbar li {
        display: inline;
        margin: 0px 10px;
    }
    .navbar a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 5px;
        font-weight: bold;
    }
        .navbar a:hover {
            background-color: black;
            color: white;
            transition: 0.3s
        }
/* Header */

/* Hero Banner */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    padding: 20px 30px;
    margin: auto;
    font-size: 25px;
    background-color: black;
    color: white;
}

.hero-button {
    margin-top: 20px;
}
    .hero-button a {
        font-size: 18px;
        color: black;
        font-weight: bold;
        padding: 8px;
        background-color: rgb(255, 196, 0);
        text-decoration: none;
    }
        .hero-button a:hover {
            background-color: rgb(255, 255, 255);
            transition: .3s
        }
/* Hero Banner */

.recipe-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Body */
h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    padding: 10px;
    margin: 10px auto 30px;
}

.content {
    padding: 3% 8%;
    line-height: 90%
}

p {
    margin: 10px 0px;
}
/* Body */

/* Preview*/
.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.preview {
    outline: 3px dashed black;
    width: 300px;
    margin: 20px 20px;
    flex: 1 0 auto;
    background-color: rgb(255, 196, 0);
}
    .preview a {
        height: 100%;
        width: 100%;
        color: black;
        text-decoration: none;
    }
        .preview a:hover {
            color: white;
            transition: 0.3s;
        }
    .preview:hover {
        background-color: black;
        transition: 0.3s;
    }
    .preview img {
        width: 100%;
    }
    .preview-name {
        padding: 0 10px;
        text-align: center;
        margin: 10px;
    }

/* Preview */

/* Recipes */
.note {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 5%;
    margin: 20px 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}
    .recipe-container h2 {
        text-align: center;
        margin-bottom: 30px;
    }

.recipe-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredients,
.instructions {
    margin: 20px;
    padding: 20px;
}

.ingredients {
    background-color: rgb(255, 196, 0);
    border: 3px dashed black;
    flex: 1 1 0;
}
    .ingredients input {
    margin-right: 15px;
    }
    .ingredients ul {
        list-style-type: none;
    }
    .ingredients li {
        margin: 10px 10px;
    }

.instructions {
    flex: 3 1 0;
}
    .instructions li {
        margin: 5px 0 10px 40px;
    }
/* Recipes */

.recipes-button {
    text-align: center;
    margin: 25px auto;
}
    .recipes-button a {
        padding: 5px 10px;
        background-color: black;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .recipes-button a:hover {
        background-color: rgb(255, 196, 0);
        color: black;
        transition: 0.3s;
    }